body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    background-image: url('Cardiac-Arrhythmia-1024x683.jpeg');
    color: white;
}

#container {
    display: flex;
    flex-direction: row; 
    align-items: start;
    max-width: 90%; 
    gap: 20px; 
    padding: 20px; 
    border-radius: 5px; 
}

#fileContainer, #resultContainer {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#ecgImageContainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px; 
}

#ecgImageContainer img {
    max-width: 100%; 
    height: auto; 
    border-radius: 5px; 
}

#previewFiles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin-top: 20px; 
}

#previewFiles img {
    width: 100px; 
    border-radius: 5px; 
}

input[type="file"] {
    margin-bottom: 10px;
}

button#submit {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

button#submit:hover {
    background-color: #0056b3;
}

#resultContainer {
    justify-content: center; 
}


#resultContainer h3, #resultContainer p {
    margin: 10px 0; 
}
